@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Unbounded:wght@200..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
}

html,
body {
  background: #F2F2F2;
  max-width: 100%;
  overflow-x: hidden;
}
html.cart,
body.cart {
  background-color: white;
}
html.cart footer,
body.cart footer {
  background: #f2f2f2;
}
html.no-scroll,
body.no-scroll {
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 1360px;
  margin: auto;
}

header {
  padding: 30px 0;
  background: white;
}
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .logo {
  display: block;
  cursor: pointer;
  position: relative;
  width: 210px;
}
header .logo img {
  width: 100%;
}
header .header-search {
  position: relative;
  width: 100%;
  max-width: 550px;
}
header .header-search input {
  border-radius: 100px;
  padding: 20px 30px 20px 64px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  color: #919191;
  background: #f2f2f2;
  width: 100%;
}
header .header-search svg {
  position: absolute;
  top: 50%;
  left: 30px;
  transform: translateY(-50%);
}
header .header-menu {
  display: flex;
  align-items: center;
  gap: 5px;
}
header .header-menu a {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  padding: 10px;
}
header .header-menu .telegram {
  background: #189cdb;
}
header .header-menu .profile,
header .header-menu .cart {
  background: #f2f2f2;
}
header .header-menu .cart {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #2d2d2d;
}

.hero {
  margin-top: 50px;
}
.hero .top {
  position: relative;
}
.hero .top .info {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  padding: 190px 160px 150px 50px;
}
.hero .top .bg {
  position: relative;
  z-index: 1;
  max-width: 100%;
}
.hero .top .heading {
  font-family: "Unbounded", sans-serif;
  font-weight: 500;
  font-size: 70px;
  line-height: 100%;
  color: white;
}
.hero .top .buttons {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 40px;
}
.hero .top .buttons .telegram {
  border-radius: 100px;
  padding: 20px;
  background: #189cdb;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero .top .buttons .phone {
  border-radius: 100px;
  padding: 5px 10px;
  background: white;
  display: flex;
  align-items: center;
  gap: 5px;
  font-family: "Unbounded", sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #2d2d2d;
  padding: 20px 50px;
}
.hero .btm {
  border-radius: 30px;
  background-color: white;
  padding: 20px;
  margin-top: -150px;
  z-index: 2;
  position: relative;
}
.hero .btm .wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  gap: 20px;
}
.hero .btm .item {
  position: relative;
  background: #f2f2f2;
  border-radius: 15px;
  cursor: pointer;
  overflow: hidden;
}
.hero .btm .item .heading {
  position: absolute;
  width: 100%;
  padding: 20px;
  font-family: "Unbounded", sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #2d2d2d;
  z-index: 2;
}
.hero .btm .item .bg {
  position: relative;
  width: 100%;
  z-index: 1;
}
.hero .btm .item::after {
  content: "";
  display: block;
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  background: rgba(45, 45, 45, 0.4);
  width: 100%;
  height: 100%;
  transition: all 0.4s ease;
  opacity: 0;
}
.hero .btm .item .arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.4s ease;
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  border-radius: 100px;
  z-index: 5;
  padding: 15px 12px 15px 18px;
  opacity: 0;
}
.hero .btm .item:hover::after {
  opacity: 1;
}
.hero .btm .item:hover .arrow {
  opacity: 1;
}

.map {
  position: relative;
  height: 700px;
  margin-top: 50px;
}
.map .container {
  height: 100%;
  overflow: hidden;
  border-radius: 30px;
  position: relative;
}
.map iframe {
  width: 100%;
  height: 100%;
}
.map .info {
  position: absolute;
  top: 50%;
  left: 150px;
  transform: translateY(-50%);
  padding: 40px;
  border-radius: 15px;
  background: white;
}
.map .info .heading {
  font-family: "Unbounded", sans-serif;
  font-weight: 500;
  font-size: 26px;
  line-height: 100%;
  color: #2d2d2d;
}
.map .info .item {
  display: flex;
  align-items: center;
  gap: 10px;
}
.map .info .item .item__hading {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #2d2d2d;
}
.map .info .item .item__info {
  display: flex;
  align-items: center;
  gap: 10px;
}
.map .info .item .item__text {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #2d2d2d;
}
.map .info .item .item__heaidng {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #2d2d2d;
}
.map .info .list {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

footer {
  margin-top: 50px;
  background: white;
  padding-top: 50px;
  padding-bottom: 25px;
}
footer .top {
  display: flex;
  justify-content: space-between;
}
footer .item {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #2d2d2d;
}
footer .item .heading {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #2d2d2d;
  margin-bottom: 20px;
}
footer .item .list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
footer .item .list__item a {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #2d2d2d;
}
footer .item:last-child .heading,
footer .item:last-child .list__item a {
  text-align: right;
  width: 100%;
  display: block;
}
footer .seti {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  justify-content: flex-end;
  margin-top: 20px;
}
footer .seti a {
  border-radius: 100px;
  padding: 10px;
  width: 44px;
  height: 44px;
  background: #f2f2f2;
}
footer .logo {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  text-align: center;
  color: #919191;
  position: relative;
  width: 210px;
  height: fit-content;
}
footer .logo img {
  width: 100%;
}
footer .btm {
  display: flex;
  justify-content: center;
}
footer .btm a {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  text-align: center;
  color: #919191;
}

.offset {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #1e1e1e;
  opacity: 0;
  z-index: 11;
  cursor: pointer;
  visibility: hidden;
  transition: all 0.4s ease;
}
.offset.active {
  opacity: 0.4;
  visibility: visible;
}

.cart-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
  z-index: 12;
  background: white;
  border-radius: 50px;
  padding: 60px 40px;
  width: 100%;
  max-width: 586px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease;
}
.cart-modal.active {
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, -50%);
}
.cart-modal .top {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
}
.cart-modal .top .heading {
  font-family: "Unbounded", sans-serif;
  font-weight: 500;
  font-size: 26px;
  line-height: 100%;
  color: #2d2d2d;
}
.cart-modal .top svg {
  cursor: pointer;
}
.cart-modal .wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
.cart-modal .wrapper .item {
  border-bottom: 1px solid #919191;
  border-top: 1px solid #919191;
  padding: 20px 0px;
  display: flex;
  gap: 40px;
}
.cart-modal .wrapper .item .info {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.cart-modal .wrapper .item .item__img {
  width: 100%;
  max-width: 120px;
}
.cart-modal .wrapper .item .info__heading {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  color: #2d2d2d;
  margin-bottom: 20px;
}
.cart-modal .wrapper .item .list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.cart-modal .wrapper .item .list__item {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  color: #919191;
}
.cart-modal .wrapper .item .count {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 20px;
}
.cart-modal .wrapper .item .decrement,
.cart-modal .wrapper .item .increment {
  border: 1px solid #919191;
  border-radius: 100px;
  width: 30px;
  height: 30px;
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  font-size: 28px;
  line-height: 100%;
  text-align: center;
  color: #919191;
}
.cart-modal .wrapper .item .count__num {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  text-align: center;
  color: #2d2d2d;
  min-width: 25px;
}
.cart-modal .wrapper .item .itogo-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
}
.cart-modal .wrapper .item .itogo-block .itog {
  font-family: "Unbounded", sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #2d2d2d;
}
.cart-modal .wrapper .item .itogo-block svg {
  cursor: pointer;
}
.cart-modal .itogo {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 5px;
  margin-top: 40px;
}
.cart-modal .itogo__heading {
  font-family: "Unbounded", sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #2d2d2d;
}
.cart-modal .itogo__num {
  font-family: "Unbounded", sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #2d2d2d;
}
.cart-modal .go-to-cart {
  display: flex;
  justify-content: center;
  border-radius: 100px;
  padding: 20px 10px;
  width: 100%;
  font-family: "Unbounded", sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: white;
  background: #2d2d2d;
  margin-top: 40px;
}

.register-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
  z-index: 12;
  background: white;
  border-radius: 50px;
  padding: 60px 40px;
  width: 100%;
  max-width: 586px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease;
}
.register-modal.active {
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, -50%);
}
.register-modal .top {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
}
.register-modal .top .heading {
  font-family: "Unbounded", sans-serif;
  font-weight: 500;
  font-size: 26px;
  line-height: 100%;
  color: #2d2d2d;
}
.register-modal .top svg {
  cursor: pointer;
}
.register-modal form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  margin-top: 20px;
}
.register-modal form input {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  color: #919191;
  border-radius: 100px;
  padding: 20px 30px;
  width: 100%;
  background: #f2f2f2;
}
.register-modal form .submit {
  margin-top: 30px;
  width: 100%;
  border-radius: 100px;
  padding: 20px 10px;
  font-family: "Unbounded", sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: white;
  background: #2d2d2d;
}
.register-modal .login {
  margin-top: 15px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  text-align: center;
  color: #2d2d2d;
}
.register-modal .login a {
  font-weight: 500;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: #2d2d2d;
}

.login-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
  z-index: 12;
  background: white;
  border-radius: 50px;
  padding: 60px 40px;
  width: 100%;
  max-width: 586px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease;
}
.login-modal.active {
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, -50%);
}
.login-modal .top {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
}
.login-modal .top .heading {
  font-family: "Unbounded", sans-serif;
  font-weight: 500;
  font-size: 26px;
  line-height: 100%;
  color: #2d2d2d;
}
.login-modal .top svg {
  cursor: pointer;
}
.login-modal form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  margin-top: 20px;
}
.login-modal form input {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  color: #919191;
  border-radius: 100px;
  padding: 20px 30px;
  width: 100%;
  background: #f2f2f2;
}
.login-modal form .submit {
  margin-top: 30px;
  width: 100%;
  border-radius: 100px;
  padding: 20px 10px;
  font-family: "Unbounded", sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: white;
  background: #2d2d2d;
}
.login-modal .login {
  margin-top: 15px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  text-align: center;
  color: #2d2d2d;
}
.login-modal .login a {
  font-weight: 500;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: #2d2d2d;
}

.lk-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
  z-index: 12;
  background: white;
  border-radius: 50px;
  padding: 60px 40px;
  width: 100%;
  max-width: 586px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease;
}
.lk-modal.active {
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, -50%);
}
.lk-modal .top {
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
}
.lk-modal .top .heading {
  font-family: "Unbounded", sans-serif;
  font-weight: 500;
  font-size: 26px;
  line-height: 100%;
  color: #2d2d2d;
}
.lk-modal .top svg {
  cursor: pointer;
}
.lk-modal .item {
  margin-bottom: 30px;
}
.lk-modal .item:last-child {
  margin-bottom: 0;
}
.lk-modal .item .item__heading {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  color: #919191;
}
.lk-modal .item .item__text {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  color: #2d2d2d;
  margin-top: 10px;
}
.lk-modal .wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.lk-modal .wrapper .wrapper__item {
  border-bottom: 1px solid #919191;
  border-top: 1px solid #919191;
  padding: 10px 0px;
  display: flex;
  justify-content: space-between;
}
.lk-modal .wrapper .wrapper__item .num_of_deal {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  color: #2d2d2d;
  margin-bottom: 10px;
}
.lk-modal .wrapper .wrapper__item .date {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  color: #2d2d2d;
}
.lk-modal .wrapper .wrapper__item .deal-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.lk-modal .wrapper .wrapper__item .deal-list__item {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  color: #2d2d2d;
}

.card-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
  z-index: 12;
  background: white;
  border-radius: 50px;
  padding: 60px 40px;
  width: 100%;
  max-width: 1360px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease;
  max-height: 90vh;
  overflow: hidden;
}
.card-modal .top-mob {
  display: none;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
}
.card-modal .top-mob .heading {
  font-family: "Unbounded", sans-serif;
  font-weight: 500;
  font-size: 26px;
  line-height: 100%;
  color: #2d2d2d;
}
.card-modal .top-mob svg {
  cursor: pointer;
}
.card-modal .card-close {
  position: absolute;
  top: 30px;
  right: 30px;
}
.card-modal.active {
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, -50%);
  overflow-y: scroll;
}
.card-modal .top {
  display: flex;
  gap: 80px;
}
.card-modal .top-r {
  max-width: 585px;
  position: relative;
  flex-shrink: 0;
  width: 100%;
}
.card-modal .top-r img {
  width: 100%;
}
.card-modal .top-l .heading {
  font-family: "Unbounded", sans-serif;
  font-weight: 500;
  font-size: 26px;
  line-height: 100%;
  color: #2d2d2d;
  margin-bottom: 25px;
}
.card-modal .top-l .select-item {
  margin-bottom: 25px;
  width: 100%;
  max-width: 320px;
}
.card-modal .top-l .select-item.active .select-list {
  max-height: 300px;
  overflow-y: scroll;
  padding-top: 10px;
}
.card-modal .top-l .select-item .select-heaidng {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  color: #919191;
  margin-bottom: 15px;
}
.card-modal .top-l .select-item .select-input {
  border: 1px solid #919191;
  border-radius: 100px;
  padding: 20px 30px;
  background: #f2f2f2;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.card-modal .top-l .select-item .select-input .select-input-name {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  color: #919191;
}
.card-modal .top-l .select-item .select-input svg {
  width: 24px;
  flex-shrink: 0;
}
.card-modal .top-l .select-item .select-list {
  max-height: 0px;
  transition: all 0.4s ease;
  overflow: hidden;
  padding: 0 20px;
}
.card-modal .top-l .select-item .select-list__item {
  border-bottom: 1px solid #f2f2f2;
  padding: 10px 10px 15px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  color: #2d2d2d;
}
.card-modal .top-l .nalichie .nalichie__heading {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  color: #919191;
  margin-bottom: 15px;
}
.card-modal .top-l .nalichie .nalichie__nal {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  color: #2d2d2d;
}
.card-modal .price {
  font-family: "Unbounded", sans-serif;
  font-weight: 500;
  font-size: 26px;
  line-height: 100%;
  color: #2d2d2d;
  margin-top: 40px;
}
.card-modal .top-buttons {
  margin-top: 40px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.card-modal .top-buttons .count {
  display: flex;
  align-items: center;
  gap: 5px;
}
.card-modal .top-buttons .decrement,
.card-modal .top-buttons .increment {
  border: 1px solid #919191;
  border-radius: 100px;
  width: 47px;
  height: 47px;
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  font-size: 28px;
  line-height: 100%;
  text-align: center;
  color: #919191;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-modal .top-buttons .count-num {
  width: 25px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  text-align: center;
  color: #2d2d2d;
}
.card-modal .top-buttons .add-to-cart {
  font-family: "Unbounded", sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: white;
  border-radius: 100px;
  padding: 20px 70px;
  background: #2d2d2d;
}
.card-modal .btm {
  margin-top: 40px;
  border-radius: 15px;
  padding: 40px;
  background: #f2f2f2;
}
.card-modal .btm .btm__heading {
  font-family: "Unbounded", sans-serif;
  font-weight: 500;
  font-size: 40px;
  line-height: 100%;
  color: #191919;
  margin-bottom: 40px;
}
.card-modal .btm .wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.card-modal .btm .wrapper .item img {
  width: 100%;
  margin-bottom: 20px;
}
.card-modal .btm .wrapper .item .name {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #2d2d2d;
  margin-bottom: 20px;
}
.card-modal .btm .wrapper .item .price {
  font-family: "Unbounded", sans-serif;
  font-weight: 500;
  font-size: 26px;
  line-height: 100%;
  color: #2d2d2d;
  margin-top: 0;
  margin-bottom: 20px;
}
.card-modal .btm .wrapper .item .add-to-cart {
  border-radius: 100px;
  padding: 5px 10px;
  width: 100%;
  background: #2d2d2d;
  padding: 20px 0;
  font-family: "Unbounded", sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: white;
}

.bread-crumbs {
  background: white;
  padding-top: 20px;
  padding-bottom: 60px;
}
.bread-crumbs .container {
  display: flex;
  align-items: center;
  gap: 5px;
}
.bread-crumbs a,
.bread-crumbs div {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  text-align: center;
  color: #2d2d2d;
}
.bread-crumbs a.curren,
.bread-crumbs div.curren {
  color: #919191;
}

.cart-hero .heading {
  font-family: "Unbounded", sans-serif;
  font-weight: 500;
  font-size: 40px;
  line-height: 100%;
  color: #2d2d2d;
  margin-bottom: 40px;
}
.cart-hero .wrapper {
  display: flex;
  gap: 40px;
}
.cart-hero .wrapper-r {
  max-width: 670px;
  width: 100%;
}
.cart-hero .wrapper-r .form-item .wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.cart-hero .wrapper-r .form-item .wrapper label {
  display: flex;
  align-items: center;
  gap: 10px;
}
.cart-hero .wrapper-r .form-item .wrapper label input {
  opacity: 0;
  position: absolute;
  left: -11110px;
}
.cart-hero .wrapper-r .form-item .wrapper label input:checked + .radio-visual::after {
  opacity: 1;
  visibility: visible;
}
.cart-hero .wrapper-r .form-item .wrapper label .radio-visual {
  width: 26px;
  height: 26px;
  border-radius: 100px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cart-hero .wrapper-r .form-item .wrapper label .radio-visual::after {
  content: "";
  display: block;
  width: 17px;
  height: 17px;
  border-radius: 100px;
  background: black;
  transition: all 0.4s ease;
  opacity: 0;
  visibility: hidden;
}
.cart-hero .wrapper-r .form-item .wrapper label .label-heading {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  color: #2d2d2d;
}
.cart-hero .wrapper-r .form-item .card-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 40px;
}
.cart-hero .wrapper-r .form-item .card-wrapper input {
  border-radius: 100px;
  padding: 20px 30px;
  width: 100%;
  background: #f2f2f2;
}
.cart-hero .wrapper-r .form-item .form-item__heading {
  font-family: "Unbounded", sans-serif;
  font-weight: 500;
  font-size: 26px;
  line-height: 100%;
  color: #2d2d2d;
  margin-bottom: 25px;
}
.cart-hero .wrapper-r .form-item .inputs-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.cart-hero .wrapper-r .form-item .inputs-wrapper input {
  border-radius: 100px;
  padding: 20px 30px;
  background: #f2f2f2;
  width: 100%;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  color: #919191;
}
.cart-hero .wrapper-r .form-item .input-wrapper {
  display: flex;
  gap: 20px;
}
.cart-hero .wrapper-r .form-item.form-adres-dost {
  display: none;
}
.cart-hero .wrapper-r .form-item.form-adres-dost.active {
  display: block;
}
.cart-hero .wrapper-r .form-item.form-adres-dost .map-wiget {
  border-radius: 20px;
  padding: 85px 248px;
  width: 670px;
  height: 249px;
  background: lightgray;
  margin-top: 25px;
}
.cart-hero .wrapper-r .form-item.form-adres-dost .input-wrapper button {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  color: #2d2d2d;
  background: none;
}
.cart-hero .wrapper-r .form-item.form-adres-dost .input-wrapper button.active {
  color: #919191;
}
.cart-hero .form-heading {
  font-family: "Unbounded", sans-serif;
  font-weight: 500;
  font-size: 26px;
  line-height: 100%;
  color: #2d2d2d;
}
.cart-hero .form-wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.cart-hero .wrapper-l {
  flex: 1;
}
.cart-hero .wrapper-l .cart-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  width: 100%;
}
.cart-hero .wrapper-l .cart-wrapper .item {
  border-bottom: 1px solid #919191;
  border-top: 1px solid #919191;
  padding: 20px 0px;
  display: flex;
  gap: 40px;
}
.cart-hero .wrapper-l .cart-wrapper .item .info {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.cart-hero .wrapper-l .cart-wrapper .item .item__img {
  width: 100%;
  max-width: 120px;
  max-width: 210px;
  height: auto;
  object-fit: contain;
}
.cart-hero .wrapper-l .cart-wrapper .item .info__heading {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  color: #2d2d2d;
  margin-bottom: 20px;
}
.cart-hero .wrapper-l .cart-wrapper .item .list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.cart-hero .wrapper-l .cart-wrapper .item .list__item {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  color: #919191;
}
.cart-hero .wrapper-l .cart-wrapper .item .count {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 20px;
}
.cart-hero .wrapper-l .cart-wrapper .item .decrement,
.cart-hero .wrapper-l .cart-wrapper .item .increment {
  border: 1px solid #919191;
  border-radius: 100px;
  width: 30px;
  height: 30px;
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  font-size: 28px;
  line-height: 100%;
  text-align: center;
  color: #919191;
}
.cart-hero .wrapper-l .cart-wrapper .item .count__num {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  text-align: center;
  color: #2d2d2d;
  min-width: 25px;
}
.cart-hero .wrapper-l .cart-wrapper .item .itogo-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
}
.cart-hero .wrapper-l .cart-wrapper .item .itogo-block .itog {
  font-family: "Unbounded", sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #2d2d2d;
}
.cart-hero .wrapper-l .cart-wrapper .item .itogo-block svg {
  cursor: pointer;
}
.cart-hero .wrapper-l .comment {
  border-radius: 100px;
  padding: 20px 30px;
  width: 100%;
  background: #f2f2f2;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  color: #919191;
  margin-top: 40px;
  height: 65px;
}
.cart-hero .wrapper-l .itogo {
  margin-top: 100px;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: flex-end;
}
.cart-hero .wrapper-l .itogo .itogo-heading,
.cart-hero .wrapper-l .itogo .itogo-num {
  font-family: "Unbounded", sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #2d2d2d;
}
.cart-hero .wrapper-l .submit {
  margin-top: 40px;
  border-radius: 100px;
  padding: 20px 10px;
  width: 100%;
  background: #2d2d2d;
  font-family: "Unbounded", sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: white;
}

@media (max-width: 1360px) {
  .container {
    margin: 0 20px;
    max-width: calc(100vw - 40px);
  }
  header {
    padding: 15px 0;
  }
  header .container {
    flex-wrap: wrap;
        align-items: flex-end;
  }
  header .logo {
    order: 1;
    max-width: 150px;
  }
  header .header-menu {
    order: 2;
  }
  header .header-menu .telegram {
    padding: 6px 7px 6px 5px;
  }
  header .header-menu a {
    padding: 6px;
  }
  header .header-search {
    order: 3;
    width: 100%;
    margin-top: 25px;
  }
  header .header-search input {
    font-size: 14px;
    line-height: 100%;
    padding: 13px 13px 13px 33px;
  }
  header .header-search svg {
    left: 10px;
    width: 18px;
    height: 18px;
  }
  .hero .top .info {
    position: relative;
    padding: 110px 10px 155px 15px;
  }
  .hero .top .bg {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 30px;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .hero .top .heading {
    font-size: 27px;
    line-height: 100%;
  }
  .hero .top .buttons .telegram {
    padding: 9px 10px 9px 8px;
  }
  .hero .top .buttons .phone {
    padding: 17px 30px;
    font-weight: 600;
    font-size: 14px;
  }
  .hero .top .buttons .phone svg {
    width: 24px;
    height: 24px;
  }
  .hero .btm {
    margin-top: -45px;
    padding: 15px;
  }
  .hero .btm .wrapper {
    display: flex;
    flex-direction: column;
  }
  .hero .btm .item .heaidng {
    font-weight: 600;
    font-size: 14px;
  }
  footer .top {
    flex-direction: column;
    align-items: center;
  }
  footer .top .item:first-child {
    display: none;
  }
  footer .top .item:last-child {
    margin-top: 30px;
  }
  footer .top .item:last-child .heading {
    text-align: center;
  }
  footer .top .item:last-child .list__item a {
    text-align: center;
  }
  footer .seti {
    justify-content: center;
  }
  footer .btm {
    margin-top: 30px;
  }
  .cart-modal,
  .card-modal,
  .login-modal,
  .register-modal,
  .lk-modal {
    max-width: calc(100vw - 20px);
    border-radius: 30px;
    padding: 20px;
    max-height: 90vh;
  }
  .cart-modal.active,
  .card-modal.active,
  .login-modal.active,
  .register-modal.active,
  .lk-modal.active {
    overflow-y: scroll;
  }
  .cart-modal .top .heading,
  .card-modal .top .heading,
  .login-modal .top .heading,
  .register-modal .top .heading,
  .lk-modal .top .heading {
    font-family: "Unbounded", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    color: #2d2d2d;
  }
  .cart-modal .top svg,
  .card-modal .top svg,
  .login-modal .top svg,
  .register-modal .top svg,
  .lk-modal .top svg {
    width: 30px;
    height: 30px;
  }
  .cart-modal .login,
  .card-modal .login,
  .login-modal .login,
  .register-modal .login,
  .lk-modal .login {
    font-size: 14px;
    line-height: 100%;
  }
  .cart-modal form input,
  .card-modal form input,
  .login-modal form input,
  .register-modal form input,
  .lk-modal form input {
    border-radius: 30px;
    padding: 12px 15px;
    font-size: 12px;
    line-height: 100%;
  }
  .cart-modal form .submit,
  .card-modal form .submit,
  .login-modal form .submit,
  .register-modal form .submit,
  .lk-modal form .submit {
    padding: 20px 10px;
    font-weight: 600;
    font-size: 14px;
    margin-top: 0;
  }
  .cart-modal .wrapper .item,
  .card-modal .wrapper .item,
  .login-modal .wrapper .item,
  .register-modal .wrapper .item,
  .lk-modal .wrapper .item {
    gap: 15px;
  }
  .cart-modal .wrapper .item .count,
  .cart-modal .wrapper .item .itogo-block,
  .card-modal .wrapper .item .count,
  .card-modal .wrapper .item .itogo-block,
  .login-modal .wrapper .item .count,
  .login-modal .wrapper .item .itogo-block,
  .register-modal .wrapper .item .count,
  .register-modal .wrapper .item .itogo-block,
  .lk-modal .wrapper .item .count,
  .lk-modal .wrapper .item .itogo-block {
    margin-top: 10px;
  }
  .cart-modal .wrapper .item .item__img,
  .card-modal .wrapper .item .item__img,
  .login-modal .wrapper .item .item__img,
  .register-modal .wrapper .item .item__img,
  .lk-modal .wrapper .item .item__img {
    max-width: 85px;
    object-fit: contain;
  }
  .cart-modal .wrapper .item .list,
  .card-modal .wrapper .item .list,
  .login-modal .wrapper .item .list,
  .register-modal .wrapper .item .list,
  .lk-modal .wrapper .item .list {
    gap: 10px;
  }
  .cart-modal .wrapper .item .info__heading,
  .card-modal .wrapper .item .info__heading,
  .login-modal .wrapper .item .info__heading,
  .register-modal .wrapper .item .info__heading,
  .lk-modal .wrapper .item .info__heading {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #2d2d2d;
    margin-bottom: 10px;
  }
  .cart-modal .wrapper .item .list__item,
  .card-modal .wrapper .item .list__item,
  .login-modal .wrapper .item .list__item,
  .register-modal .wrapper .item .list__item,
  .lk-modal .wrapper .item .list__item {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #919191;
  }
  .cart-modal .itogo,
  .card-modal .itogo,
  .login-modal .itogo,
  .register-modal .itogo,
  .lk-modal .itogo {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
  }
  .cart-modal .itogo__heading,
  .cart-modal .itogo__num,
  .card-modal .itogo__heading,
  .card-modal .itogo__num,
  .login-modal .itogo__heading,
  .login-modal .itogo__num,
  .register-modal .itogo__heading,
  .register-modal .itogo__num,
  .lk-modal .itogo__heading,
  .lk-modal .itogo__num {
    font-weight: 600;
    font-size: 14px;
  }
  .cart-modal .go-to-cart,
  .card-modal .go-to-cart,
  .login-modal .go-to-cart,
  .register-modal .go-to-cart,
  .lk-modal .go-to-cart {
    font-weight: 600;
    font-size: 14px;
    padding: 20px 10px;
    margin-top: 20px;
  }
  .card-modal .card-close {
    display: none;
  }
  .card-modal .top-mob {
    display: flex;
  }
  .card-modal .top-mob .card-close {
    display: block;
    position: relative;
    top: 0;
    left: 0;
  }
  .card-modal .top {
    flex-direction: column;
  }
  .card-modal .top .top-l {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .card-modal .top .top-l .nalichie {
    display: none;
  }
  .card-modal .top .top-l .price {
    font-size: 14px;
    margin-top: 40px;
  }
  .card-modal .top .top-l .top-buttons {
    width: 100%;
    margin-top: 20px;
  }
  .card-modal .top .top-l .top-buttons .count {
    display: none;
  }
  .card-modal .top .top-l .top-buttons .add-to-cart {
    font-weight: 600;
    font-size: 14px;
    padding: 20px 10px;
    width: 100%;
  }
  .card-modal .top .top-l .heading {
    display: none;
  }
  .card-modal .top .top-l .select-item {
    max-width: calc(50% - 5px);
  }
  .card-modal .top .top-l .select-item .select-list {
    padding: 0px 10px;
  }
  .card-modal .top .top-l .select-item .select-list__item {
    font-size: 16px;
    line-height: 100%;
    padding-left: 0;
  }
  .card-modal .top .top-l .select-item .select-input {
    padding: 10px;
  }
  .card-modal .top .top-l .select-item .select-heaidng {
    display: none;
  }
  .card-modal .top .top-l .select-item .select-input-name {
    font-size: 14px;
  }
  .card-modal .btm {
    display: none;
  }
  .cart-hero .wrapper-l {
    display: none;
  }
  .cart-hero .heading {
    font-size: 24px;
    margin-bottom: 30px;
  }
  .cart-hero .wrapper-r .form-item .form-item__heading {
    font-size: 20px;
    line-height: 100%;
    margin-bottom: 20px;
  }
  .cart-hero .wrapper-r .form-item .input-wrapper,
  .cart-hero .wrapper-r .form-item .inputs-wrapper {
    flex-direction: column;
    gap: 10px;
  }
  .cart-hero .wrapper-r .form-item .wrapper label .label-heading {
    font-size: 16px;
    line-height: 100%;
  }
  .cart-hero .wrapper-r .form-item.form-adres-dost.map .input-wrapper {
    flex-direction: row;
  }
  .cart-hero .wrapper-r .form-item.form-adres-dost.map .map-wiget {
    width: 100%;
    padding: 0;
  }
  .cart-hero .wrapper-r .form-item.form-adres-dost .input-wrapper {
    flex-direction: column;
  }
  .map .info {
    transform: translate(0, 0);
    top: 65px;
    left: 15px;
    width: calc(100% - 30px);
    padding: 30px 15px;
  }
  .map .info .heading {
    text-align: center;
  }
  .map .info .item .item__info {
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
  }
}

/*# sourceMappingURL=style.css.map */
